
@import url('https://fonts.googleapis.com/css2?family=Oranienbaum&display=swap');

html {
  height: 100vh;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: 'Oranienbaum', serif;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
